---
layout: default
title: Citation
---

<header id="head" class="secondary"></header>

<div class="container">

    <h1>Dalton references</h1>

    <div class="row">
        <div class="col-md-12 col-sm-6 highlight">
            <p>
                Any published work with results obtained with the Dalton or LSDalton program must include
                the citation:
            </p>

            <blockquote>
                <p>
                    K. Aidas, C. Angeli, K. L. Bak, V. Bakken, R. Bast, L. Boman, O. Christiansen, R. Cimiraglia,
                    S. Coriani, P. Dahle, E. K. Dalskov, U. Ekstr&#246;m, T. Enevoldsen, J. J. Eriksen, P. Ettenhuber,
                    B. Fern&#225;ndez, L. Ferrighi, H. Fliegl, L. Frediani, K. Hald, A. Halkier, C. H&#228;ttig,
                    H. Heiberg, T. Helgaker, A. C. Hennum, H. Hettema, E. Hjerten&#230;s, S. H&#248;st, I.-M. H&#248;yvik,
                    M. F. Iozzi, B. Jansik, H. J. Aa. Jensen, D. Jonsson, P. J&#248;rgensen, J. Kauczor, S. Kirpekar,
                    T. Kj&#230;rgaard, W. Klopper, S. Knecht, R. Kobayashi, H. Koch, J. Kongsted, A. Krapp,
                    K. Kristensen, A. Ligabue, O. B. Lutn&#230;s, J. I. Melo, K. V. Mikkelsen, R. H. Myhre, C. Neiss,
                    C. B. Nielsen, P. Norman, J. Olsen, J. M. H. Olsen, A. Osted, M. J. Packer, F. Pawlowski,
                    T. B. Pedersen, P. F. Provasi, S. Reine, Z. Rinkevicius, T. A. Ruden, K. Ruud, V. Rybkin,
                    P. Salek, C. C. M. Samson, A. S&#225;nchez de Mer&#225;s, T. Saue, S. P. A. Sauer, B. Schimmelpfennig,
                    K. Sneskov, A. H. Steindal, K. O. Sylvester-Hvid, P. R. Taylor, A. M. Teale,
                    E. I. Tellgren, D. P. Tew, A. J. Thorvaldsen, L. Th&#248;gersen, O. Vahtras, M. A. Watson,
                    D. J. D. Wilson, M. Ziolkowski, and H. &#197;gren, "The Dalton quantum chemistry program
                    system", WIREs Comput. Mol. Sci. 2014, 4:269–284 (<a href="http://doi.org/10.1002/wcms.1172" target="_blank">doi: 10.1002/wcms.1172</a>).
                </p>
            </blockquote>

            <p>
                and one or both of the following two citations as appropriate:
            </p>

            <blockquote>
            <ul>
                <li>
                    Dalton,
                    a molecular electronic structure program,
                    Release v<font color=blue>AAAA.B</font> (<font color=red>YYYY</font>), see http://daltonprogram.org.
                </li>
                <li>
                    LSDalton,
                    a linear scaling molecular electronic structure program,
                    Release v<font color=blue>AAAA.B</font> (<font color=red>YYYY</font>), see http://daltonprogram.org.
                </li>
            </ul>
            </blockquote>

            <p>
            with v<font color=blue>AAAA.B</font> replaced by the major release
            and patch version used (e.g. v2016.2) and <font color=red>YYYY</font>
            replaced with the publication year (e.g. 2017).
            </p>

            <p><b>
                The article is "open access" and can be obtained from
                <a href="http://doi.org/10.1002/wcms.1172" target="_blank">the publisher</a>.
                Bibtex and other reference formats for the citation can also be obtained from
                the publisher.
                For your convenience, the citation in bibtex format can also be obtained
                <a href="{{ site.baseurl }}/resources/daltoncitation.bib">here</a>.
            </b></p>

            <p>
                In addition, when certain unique features
                of Dalton/LSDalton are used in published work, we ask you also to cite the papers
                that describe their implementation, as indicated in the manual.  As we
                distribute the codes for free, the "payment" we ask for is proper recognition
                of our work through your citations.
            </p>
        </div>
    </div>
</div>
