---
layout: default
title: Home
---

<!-- header -->
<header id="head">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="lead"><strong>Dalton and LSDalton</strong></h1>
                <p class="tagline">Two powerful molecular electronic structure programs.</p>
                <p><a class="btn btn-default btn-lg" href="./features/" role="button">FEATURES</a> <a class="btn btn-action btn-lg" href="./download/" role="button">GET THE CODE</a></p>
            </div>
            <div class="col-sm-6">
                <a class="twitter-timeline" data-height="500" href="https://twitter.com/daltonprogram">Tweets by daltonprogram</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
        </div>
    </div>
</header>
<!-- /header -->

<!-- intro -->
<div class="container text-center">
    <br>
    <br>
    <h2 class="thin">The kernel of the Dalton suite is the two powerful molecular electronic structure programs, Dalton and LSDalton.</h2>
    <p class="text-muted">
        Together, the two programs provide an extensive functionality for the calculations
        of molecular properties at the HF, DFT, MCSCF, MC-srDFT, and CC levels of theory.
        Many of these properties are only available in the Dalton suite.
    </p>
    <p>
        From 2020 you can also script some standardized Dalton and LSDalton calculations with the "Dalton Project" Python package,
        and you can use new features for post-processing, for example plotting spectra from the
        calculated results.
        Dalton Project is under active development, and the predefined types of calculations and ways to
        analyze the calculated results will continuously be extended.
</div>
<!-- /intro -->

<!-- container -->
<div class="container">
    <h2 class="text-center top-space">Release history</h2>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <h4>2022-01-21</h4>
            <p>
                Dalton2020.1 patch is released.
            </p>

            <h4>2020-10-20</h4>
            <p>
                Dalton2020 suite is released.
            </p>

            <h4>2019-03-18</h4>
            <p>
                Dalton2018.2 patch is released.
            </p>

            <h4>2019-01-14</h4>
            <p>
                Dalton2018.1 patch is released.
            </p>

            <h4>2018-11-19</h4>
            <p>
                Dalton2018 suite is released.
            </p>

            <h4>2017-08-27</h4>
            <p>
                Dalton and LSDalton transitioned to GNU LGPL 2.1 license.
            </p>

            <h4>2017-06-12</h4>
            <p>
                LSDalton2016.3 patch is released.
            </p>

            <h4>2017-03-15</h4>
            <p>
                LSDalton2016.2 patch is released.
            </p>

            <h4>2015-12-22</h4>
            <p>
                Dalton2016 is released. Note that users with a licence for Dalton2015 or
                previous versions must re-register to obtain a licence for Dalton2016.
            </p>

            <p>
                See the <a href="./features/">program description</a>
                for a description of all the new (and old) features.
            </p>
            <h4>2015-07-20</h4>
            <p>
                Dalton2015.1 patch is released.
            </p>

            <h4>2015-02-18</h4>
            <p>
                Dalton2015 is released. Note that users with a licence for Dalton2013 or
                previous versions must re-register to obtain a licence for Dalton2015.
            </p>
            <p>
                See the <a href="./features/">program description</a>
                for a description of all the new (and old) features.
            </p>

        </div>
        <div class="col-sm-6">

            <h4>2013-11-10</h4>
            <p>
                Dalton2013 is released. Note that users with a licence for Dalton2011 or
                previous versions must reregister to obtain a licence for Dalton2013.
            </p>

            <h4>2011-07-20</h4>
            <p>
                Dalton2011 is released.
            </p>

            <h4>2005-03-04</h4>
            <p>
                Dalton 2.0 is released.
            </p>
            <p>
                Additions to Dalton 2.0 include DFT implemented up to quadratic response
                theory, for a wide variety of properties such as molecular Hessians and
                magnetic-resonance parameters. Also available is the NEVPT2 approach for
                calculating accurate energetics of multireference systems and the explicitly
                correlated MP2-R12 method.
            </p>
            <h4>2001-11-13</h4>
            <p>
                Dalton 1.2.1 is released.
            </p>

            <h4>2001-06-24</h4>
            <p>
                Dalton release 1.2 is released. The functionality of the program has been
                extended significantly! The main new features are coupled-cluster (CC) wave
                functions and properties, non-equilibrium solvation, the use of Configuration
                State Functions (CSF) in property calculations, Atomic Mean-Field (AMFI)
                Approximation, effective core-potentials (ECP), generalized numerical
                derivatives, temperature-dependant vibrational averaging, Magnetic Circular
                Dichroism (MCD) and relativistic corrections (Douglas-Kroll).
            </p>

            <h4>2000-08-01</h4>
            <p>
                Dalton 1.1 is released.
            </p>

            <h4>1997-04-05</h4>
            <p>
                Dalton 1.0 is released.
            </p>
        </div>
    </div>

</div>
<!-- /container -->


<!-- highlights -->
<div class="jumbotron top-space">
    <div class="container">
        <h2 class="text-center thin">The history of the Dalton program suite</h2>
        <div class="row">
            <p>
                The history of Dalton starts in fall of 1983, when Hans
                J&oslash;rgen Aagaard Jensen and Hans &Aring;gren started the programming of a
                second-order, direct MCSCF program SIRIUS. Soon Trygve Helgaker and Poul
                J&oslash;rgensen joined the project. Over the years the author list has
                expanded with contributions by PhD students and postdocs in the group of the
                original four authors,  and later several of these established their own groups
                and continued to contribute. As you can see, today the author list has become
                very, very long -- and it is a great pleasure for the four founding authors to
                see how useful our initial seeds of code have been for development of many
                unique electronic structure methodologies.
            </p>
            <p>
                In 2006 Poul J&oslash;rgensen and Trygve Helgaker started an ambitious project
                with the ultimate research goal of linear scaling DFT.  The development started
                in our common framework, Dalton, but as the linear scaling methodology is
                intrinsically AO based, while the rest of Dalton is intrinsically MO based
                (although quite a few tasks can be done in AO basis for efficiency), at the end
                there was very little overlap in code between the linear scaling code and the
                Dalton code.  The Dalton author community therefore decided at its meeting in
                January 2010 in Oslo to release the linear scaling code as a separate
                executable, LSDalton.
            </p>
        </div>
    </div>
</div>
<!-- /highlights -->
