---
layout: default
title: dal2pov
---

<header id="head" class="secondary"></header>

<div class="container">

    <div class="row">
        <div class="col-md-12 col-sm-6 highlight">

            <h1>dal2pov</h1>

            <h2>Author</h2>

            <p>dal2pov was written by Alexander A. Auer</p>

            <h2>Description</h2>

            <p>
                <tt>dal2pov</tt> is a Perl script that processes a DALTON output
                file and creates an input file for the POV-Ray raytracer, then calls
                povray to generate the graphics.
            </p>

            <p>
                <tt>dal2pov</tt> was written in order to make use of the POV-Ray
                raytracer to get high-quality visualization and representation of
                DALTON results:
            </p>

            <ul>
                <li>2D high quality images
                <li>Display geometries using different models (ball and stick etc.)
                <li>Display the path of geometry optimizations or vibrational modes
                    using vectors
                <li>Create sequences of images that can be animated, showing the
                    molecule rotating or displaying molecular vibrations
            </ul>

            <h2>Requirements</h2>

            <ul>
                <li><a href="http://www.perl.org" target="extlink">Perl</a>
                <li><a href="http://www.povray.org" target="extlink">POV-Ray</a> - a
                     ray-tracing program (available for most platforms)
            </ul>

            <p>
                Please note that the following files from the POV-Ray distribution
                should be placed in the same directory as the dal2pov script:
            </p>

            <pre>
chars.inc
colors.inc
finish.inc
shapes.inc
textures.inc

res120.ini
res320.ini
res640.ini
res800.ini
rotate.ini
vect1.ini

textures.v2
            </pre>

            <h2>Usage</h2>

            <p>
                To run the script just copy a Dalton output file into the directory
                where you have the <tt>dal2pov.perl</tt> script, check that POV-Ray
                can be called (<tt>which povray</tt>) and type:
            </p>

            <pre>
perl dal2pov.perl
            </pre>

            <p>This will give you a list of options for the script:</p>

            <pre>
usage: perl dal2pov.perl infile flag1 flag2

infile : DALTON input/outputfile
flag1  : specifier for infile
         1 =  geometry optimization output (*OPTIMIZE)
         2 =  final geometry most forms of DALTON output (*WALK etc.)
         3 =  input geometry from DALTON output
         4 =  display path of geometry optimization
         5 =  generate a picture displaying the normal mode
              given as third argument like for normal mode 12 :
              perl dal2pov 5 0 12
         6 =  same as 5) but display the vibration in an animation
flag2  : specifier for interactive mode
         1 =  ask for model, animation and axes and size of Pov. picture
         2 =  ask for 1), zoom, rotation and scaling of vibrations
         3 =  ask for 1),2) dummy atoms, background color and glass-bonds
             (dummy atoms have to contain "xx" in their label !!)
everything else =>  use default values everywhere
            </pre>

            <p>
                When dal2pov has processed an output file, two files should be
                created. The <tt>molecule.pov</tt> file is the POV-Ray input file
                which one should have a look at, the syntax is not too complex. The
                <tt>molecule.tga</tt> file is the actual picture, if an animation has
                been requested you`ll get a whole bunch of them. These can now be
                viewed and converted.
            </p>

            <h2>Examples</h2>

            <p>The water molecule displayed using different models:</p>

            <table border=0>
            <td align=center valign=middle><img
            src="dal2pov_mod1a.gif">
            <td align=center valign=middle><img
            src="dal2pov_mod1b.gif">
            <td align=center valign=middle><img
            src="dal2pov_mod1c.gif">
            <tr>
            <td align=center valign=top>Ball and stick
            <td align=center valign=top>Stick
            <td align=center valign=top>Space-filling
            </table>

            <p>One of the normal modes of C<sub>2</sub>H<sub>4</sub>O displayed using
            vectors (../static) and as a small animation:</p>

            <table border = 0>
            <td align=center valign=middle><img
            src="dal2pov_vec.gif">
            <tr>
            <td align=center valign=top>Normal mode shown as vectors
            </table>
            <table border = 0>
            <td align=center valign=middle><img
            src="dal2pov_anim.gif">
            <tr>
            <td align=center valign=top>Normal mode shown as animation
            </table>

            <h2>Download</h2>

            <ul>
                <li>Download <a href="dal2pov.perl">the <tt>dal2pov.perl</tt> Perl
                script</a>
                <li>Download archive with the <a href="dal2pov_req.tar.gz">required
                POV-Ray include and INI-files</a> that should be placed in the same
                directory as the dal2pov script (note: you'll need a fully working
                installation of POV-Ray as well)
            </ul>

        </div>
    </div>
</div>
